<% provide(:title, 'About Us') %>
<h1>About aplication</h1>
<p>
	This application is made from the basis of the tutorial <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>. It is developed with <a href="http://rubyonrails.org/">Ruby on Rails</a>. 
</p>